<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="p-3 mb-2 bg-light text-dark"></div>
<span class="border-0"></span>
<span class="border-top-0"></span>
<span class="border-right-0"></span>
<span class="border-bottom-0"></span>
<span class="border-left-0"></span>
<div class="container"><nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Jaimie Valle</a>
    <a class="navbar-brand" href="portfolio.html">Portfolio</a>
    <a class="navbar-brand" href="contact.html">Contact</a>
</nav></div>

<div class="container-md">
  <div class="header" class="bold-font">About Me</div>
  ​<picture>
    <source srcset="./Images/portfolio.png" type="image/svg+xml">
    <img src="./Images/992-portfolio.png" class="img-fluid img-thumbnail" style="width: 200px; height: 200px;" alt="me">
  </picture>
    <div class="container">
        <div class="row" class="row " class="rounded float-right">
          <div class="col">Full Stack Web Developer:
            <ul>
              <li>Javascript</li>
              <li>Node</li>
              <li>MySQL/Sequelize</li>
              <li>Mongo/Mongoose</li>
              <li>React</li>
            </ul>
          </div>
          <div class="w-100">
          <div class="col">A novice coder with every intention to continue to learn as this industry evolves. I went from majoring in Forensic Anthropology
            to reflecting much through-out this pandemic an soon to be completing my certification as a developer at UW.
          </div>
          <div class="card-footer text-muted">
        </div>
    </div>
  </div>
  <footer class="footer" class="p-3 mb-2 bg-light text-dark" >Copyright</footer>
  <div id="tsparticles"></div>

<script src="../public/js/portfolio.js"></script>
<script src="../public/js/contact.js"></script>
<script src="../public/js/aboutMe.js"></script>
</body>
</html>